* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: lightblue;
}

a {
    text-decoration: none;
    color: green;
    background-color: lightgrey;
}

h1 {
    font-size: 50px;
}

.index-box {
    text-align: center;
}

.recipetitle {
    text-align: center;
}

.recipeimage {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-style: solid;
   border-color: white;
}

ul, ol, li {
    background: lightgrey;
    padding: 10px;
    margin-left: 10px;
}

button {
    background-color: lightgray;
    width: 50%;
    font-size: 18px;
    padding: 20px 50px;
}

.indexlist {
    background: none;
    list-style-type: none;
}